@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $forest;
    height: 110px;
    padding: 20px $x-padding;
    display: flex;
    justify-content: space-between;
    >.left {
        height: 50px;
        display: flex;
        img {
            height: 50px;
            width: auto;
        }
        >div {
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: space-between;
          padding-left: 10px;
          >span {
            color: white;
            &:first-child {
                color: $green;
            }
          }
        }
    }

    >.right {
        height: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
        >div {
            height: 30px;
            width: 30px;
            cursor: pointer;
            position: relative;
            &:hover >div{
                background-color: $green;
            }
            &:hover >nav {
                display: block;
            }
            >div {
                transform: scaleX(-1);
                background-color: $white;
                height: 3px;
                margin-bottom: 5px;
                &:nth-child(1) {
                    width: calc(100% / 3);
                }
                &:nth-child(2) {
                    width: calc(100% / 1.5);
                }
                &:nth-child(3) {
                    margin-bottom: unset;
                }
            }
            &.lang-selection {
                width: unset;
                > span {
                    font-size: 1.5rem;
                    color: white;
                    &:hover {
                        color: $green;
                    }
                }
            }
            >nav {
                display: none;
                position: absolute;
                left: -100px;
                z-index: 1000;
                >ul {
                    list-style: none;
                    width: 200px;
                    >li {
                        >a {
                            color: $black;
                            background-color: white;
                            padding: 10px 20px;
                            border: 1px dotted lightgray;
                            display: block;
                            text-decoration: none;
                        }
                    } 
                }
            }
        }
        
    } 
}

footer {
    background-color: $green;
    height: 50px;
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 0 $x-padding;
    justify-content: space-between;
    img {
        height: 25px;
        width: auto;
    }
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        li {
            display: flex;
            align-items: center;
        }
        li:not(:last-child)::after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 2px;
            background-color: $black;
            margin: 0 5px;
        }
        a {
            text-decoration: none;
            color: $black;
        }
    }
}

.card {
    box-shadow: 0 5px 5px 0 lightgrey;
    aspect-ratio: 2/3;
    position: relative;
    &-img {
        height: 40%;
        overflow: hidden;
        >img {
            height: auto;
            width: 100%;
        }
    }
    &-date {
        padding: 10px 20px;
        color: $green;
        font-style: italic;
        font-size: 1.25rem;
    }
    &-title {
        padding: 10px 20px 0 20px;
        font-weight: bold;
        font-size: 2rem;
        color: $forest;
    }

    &-content {
        padding: 5px 20px;
        font-size: 1.25rem;
    }

    &-link {
        position: absolute;
        bottom: 20px;
        right: 20px;
        > a {
            color: $green;
            text-decoration: none;
            i {
                transition: transform 0.3s ease;
            }
            &:hover {
                i {
                   transform: translateX(5px);
                }
            }
        }
    }
}
