@import 'variables';

.search {
    background-color: $green;
    &-content {
        height: 80px;
        padding: 0 $x-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
        form {
            input {
                width: 450px;
                border-radius: 5px;
                border-style: solid;
                padding: 5px 25px 5px 5px;
                transform: translate(30px);
                z-index: 1;
                position: relative;
            }
            button {
                background-color: transparent;
                border: unset;
                z-index: 2;
                position: relative;
                cursor: pointer;
            }
        }
    }
}

main {
    padding: 20px $x-padding;
    .actu {
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                text-transform: uppercase;
                color: $green;
                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 100px;
                    background: $green;
                }
            }
            a {
                font-weight: bold;
                color: $black;
                text-transform: uppercase;
                text-decoration: none;
            }
        }  
        .articles {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            > * {
                width: calc((100% - 40px) / 3);
            }
        }
    }
}

.pagination {
    background-color: $beige;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $x-padding;
    > div {
        font-size: 1.2rem;
        > a {
            text-decoration: none;
            color: black;
            > i {
                font-size: 1.5rem;
            }
            &:hover {
                color: $green;
            }
        }
        &:nth-child(2) {
            > span {
                margin: 0 3px;
                &:nth-child(2) {
                    color: $green;
                }
            }
        }
    }
}