@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  font-family: "Roboto";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #27352A;
  height: 110px;
  padding: 20px 17.5%;
  display: flex;
  justify-content: space-between;
}
header > .left {
  height: 50px;
  display: flex;
}
header > .left img {
  height: 50px;
  width: auto;
}
header > .left > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-left: 10px;
}
header > .left > div > span {
  color: white;
}
header > .left > div > span:first-child {
  color: #82C46C;
}
header > .right {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
header > .right > div {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: relative;
}
header > .right > div:hover > div {
  background-color: #82C46C;
}
header > .right > div:hover > nav {
  display: block;
}
header > .right > div > div {
  transform: scaleX(-1);
  background-color: #FFF;
  height: 3px;
  margin-bottom: 5px;
}
header > .right > div > div:nth-child(1) {
  width: 33.3333333333%;
}
header > .right > div > div:nth-child(2) {
  width: 66.6666666667%;
}
header > .right > div > div:nth-child(3) {
  margin-bottom: unset;
}
header > .right > div.lang-selection {
  width: unset;
}
header > .right > div.lang-selection > span {
  font-size: 1.5rem;
  color: white;
}
header > .right > div.lang-selection > span:hover {
  color: #82C46C;
}
header > .right > div > nav {
  display: none;
  position: absolute;
  left: -100px;
}
header > .right > div > nav > ul {
  list-style: none;
  width: 200px;
}
header > .right > div > nav > ul > li > a {
  color: #0C0F0C;
  background-color: white;
  padding: 10px 20px;
  border: 1px dotted lightgray;
  display: block;
  text-decoration: none;
}

footer {
  background-color: #82C46C;
  height: 50px;
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 0 17.5%;
  justify-content: space-between;
}
footer img {
  height: 25px;
  width: auto;
}
footer ul {
  padding: 0;
  list-style: none;
  display: flex;
}
footer ul li {
  display: flex;
  align-items: center;
}
footer ul li:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 2px;
  background-color: #0C0F0C;
  margin: 0 5px;
}
footer ul a {
  text-decoration: none;
  color: #0C0F0C;
}

.card {
  box-shadow: 0 5px 5px 0 lightgrey;
  aspect-ratio: 2/3;
  position: relative;
}
.card-img {
  height: 40%;
  overflow: hidden;
}
.card-img > img {
  height: auto;
  width: 100%;
}
.card-date {
  padding: 10px 20px;
  color: #82C46C;
  font-style: italic;
  font-size: 1.25rem;
}
.card-title {
  padding: 10px 20px 0 20px;
  font-weight: bold;
  font-size: 2rem;
  color: #27352A;
}
.card-content {
  padding: 5px 20px;
  font-size: 1.25rem;
}
.card-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card-link > a {
  color: #82C46C;
  text-decoration: none;
}
.card-link > a i {
  transition: transform 0.3s ease;
}
.card-link > a:hover i {
  transform: translateX(5px);
}

/*# sourceMappingURL=main.css.map */
